USE [master]
GO
/****** Object:  Database [InstrumentDB]    Script Date: 11/26/2025 11:19:35 AM ******/
CREATE DATABASE [InstrumentDB]

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InstrumentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InstrumentDB]
GO
/****** Object:  Table [dbo].[InstrumentRuns]    Script Date: 11/26/2025 11:19:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstrumentRuns](
	[RunId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [uniqueidentifier] NOT NULL,
	[InstrumentCode] [nvarchar](50) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[StartedAt] [datetime2](7) NOT NULL,
	[CompletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_InstrumentRuns] PRIMARY KEY CLUSTERED 
(
	[RunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instruments]    Script Date: 11/26/2025 11:19:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instruments](
	[InstrumentId] [int] IDENTITY(1,1) NOT NULL,
	[InstrumentCode] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[ReagentStatus] [tinyint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
 CONSTRAINT [PK_Instruments] PRIMARY KEY CLUSTERED 
(
	[InstrumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Instruments_InstrumentCode] UNIQUE NONCLUSTERED 
(
	[InstrumentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_InstrumentRuns_BookingId]    Script Date: 11/26/2025 11:19:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_InstrumentRuns_BookingId] ON [dbo].[InstrumentRuns]
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InstrumentRuns_InstrumentCode]    Script Date: 11/26/2025 11:19:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_InstrumentRuns_InstrumentCode] ON [dbo].[InstrumentRuns]
(
	[InstrumentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InstrumentRuns_InstrumentCode_Status]    Script Date: 11/26/2025 11:19:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_InstrumentRuns_InstrumentCode_Status] ON [dbo].[InstrumentRuns]
(
	[InstrumentCode] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InstrumentRuns_Status]    Script Date: 11/26/2025 11:19:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_InstrumentRuns_Status] ON [dbo].[InstrumentRuns]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InstrumentRuns] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[InstrumentRuns] ADD  DEFAULT (sysutcdatetime()) FOR [StartedAt]
GO
ALTER TABLE [dbo].[Instruments] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Instruments] ADD  DEFAULT ((0)) FOR [ReagentStatus]
GO
ALTER TABLE [dbo].[Instruments] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
USE [master]
GO
select * from Instruments